
body {
  margin: 0;
  padding: 0;
  font-family: poppins;
/*  background: #fffc56;*/
}

.container{
  padding: 5px;
  /*max-width: 960px;*/
  width: 95%;
  margin: 20px auto;

}

header{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 170%;
  }

 .boxes {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    margin: 5px 0; 
  }

  .box {
    flex: 1;
    position: relative;
    border: 1px solid black;
    margin: 10px;
    height: 150px;
    padding: 10px;
    background: gray;
    /*transition: 0.3s;*/
    overflow: auto;

  }

  .box: first-child {
    margin-left: 0;
  }

  .box: last-child {
    margin-left: 0;
  }

  #task1{
      margin:0;
      border: 0;
      padding: 0;
      background-color: pink;
      position: absolute;
      top:0;
      right: 0;
      text-align: center;
      width:33.3%;
      font-size: 125%;
    }
    #task2{
      margin:0;
      border: 0;
      padding: 0;
      background-color: red;
      position: absolute;
      top:0;
      right: 0;
      text-align: center;
      width:33.3%;
      color: white;
      font-size: 125%;
    }
    #task3{
      margin:0;
      border: 0;
      padding: 0;
      background-color:yellow;
      position: absolute;
      top:0;
      right: 0;
      text-align: center;
      width:33.3%;
      font-size: 125%;
    }

  @media  screen and (max-width: 992px) {
  .boxes .box{
    
    margin-bottom: 5px;
    flex-basis: 40%; 
  }
  .columns .column:last-child {
    flex-basis: 100%; 
    margin: 0;
  }

  .columns .columns:nth-last-child(2){
    margin-right: 0;
  }

 @media  screen and (max-width: 767px) {
  .boxes .box{
    flex-basis: 100%; 
    /*margin: 0 0 5px 0;*/
    margin: 10px;

  }


}

